.main-body{
	padding-top: 20px;
}

.add{
}

.submit_button{
	margin: 10px 0 40px 0;
}

.container table{
    width: 100%;
}

.container table td{
    height: 40px;
}

table th[class*="col-"] {
    height: 40px;
}

table .mybutton{
    padding: 6px 12px;
    font-size: 14px;
}

.fl-right{
    float: right;
}

.sreach.nav{
  margin-top: 10px;
}

.header{
  margin-bottom: 80px;
}

.book_show img{
  display: block;
  height: 350px;
  width: 350px;
  clear: both;
}

.book_show_item{
  float: left;
  margin: 0 30px 30px 0;
}

.book_show_item label{
  float: left;
  margin: 20px 0 0 20px;
}

.book_show_item p{
  float: right;
  margin: 20px 0 0 20px;
}