.main-body{
    padding-top: 20px;
}

.add{
}

.submit_button{
    margin: 10px 0 40px 0;
}

.container table{
    width: 100%;
}

.container table td{
    height: 40px;
}

table th[class*="col-"] {
    height: 40px;
}

table .mybutton{
    padding: 6px 12px;
    font-size: 14px;
}

.fl-right{
    float: right;
}

.showCheck {
  width: 0px;
  height: 0px;
}

.otherCheck{
    cursor: pointer;
}

.row a{
    cursor: pointer;
}