<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="个性化搜索引擎">
	<meta name="author" content="NatureFeng">
	<link rel="shortcut icon" href="">
	<title>汪汪网上书城-搜索结果</title>
	<!-- Bootstrap core CSS -->
	<link href="./css/bootstrap.min.css" rel="stylesheet">
	<!-- Custom styles for this template -->
	<link href="./css/index.css" rel="stylesheet">
	<link href="./css/addBook.css" rel="stylesheet">
	<!-- Just for debugging purposes. Don't actually copy this line! -->
	<!--[if lt IE 9]>
	<script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script>
	<![endif]-->

	<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->
	<script src="./js/jquery-1.10.2.min.js"></script>
	<!-- avalon -->
	<script src="./js/avalon.js"></script>
	<script src="./js/common.js"></script>
	<!-- index -->
	<script src="./js/addBook.js"></script>
</head>

<body style="">

	<div class="navbar navbar-inverse navbar-static-top" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">汪汪网上书城</a>
			</div>
			<div class="collapse navbar-collapse">
				<ul class="nav navbar-nav">
					<li class="active">
						<a href="./index.html">主页</a>
					</li>
				</ul>
				<ul class="nav navbar-nav fl-right login">
					<li data-toggle="modal" data-target="#signin">
						<a href="./index.html">注册</a>
					</li>
					<li data-toggle="modal" data-target="#login">
						<a href="./index.html">登陆</a>
					</li>
				</ul>
				<ul class="nav navbar-nav fl-right hide userdata">
					<li>
						<a class="username" href="./addBook.html">username</a>
					</li>
					<li class="hide">
						<a class="car" href="./addBook.html">购物车(<b>0</b>)</a>
					</li>
					<li>
						<a class="logout" href="./index.html">退出</a>
					</li>
				</ul>
				<div class="sreach nav col-lg-2 fl-right">
			    	<div class="input-group">
			      		<input type="text" class="form-control">
			      		<span class="input-group-btn">
			        		<button class="btn btn-default" type="button">搜索</button>
			      		</span>
			    	</div><!-- /input-group -->
			  	</div>
			</div>
		</div>
	</div>


	<div class="container main-body">
		<div class="header">
			<h3>添加图书</h3>	
		</div>
		
		<form class="form-horizontal">
		  <div class="form-group">
		    <label class="col-sm-1 control-label">书号</label>
		    <div class="col-sm-3">
		    	<input class="form-control" placeholder="书号">	
		    </div>
		  </div>
			<div class="form-group">
		    <label class="col-sm-1 control-label">书名</label>
		    <div class="col-sm-3">
		    	<input class="form-control" placeholder="书名">	
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-1 control-label">作者</label>
		    <div class="col-sm-3">
		    	<input class="form-control" placeholder="作者">	
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-1 control-label">出版社</label>
		    <div class="col-sm-3">
		    	<input class="form-control" placeholder="出版社">	
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-1 control-label">价格</label>
		    <div class="col-sm-3">
		    	<input class="form-control" placeholder="价格">	
		    </div>
		  </div>
		  <div class="form-group">
		    <label class="col-sm-1 control-label">数量</label>
		    <div class="col-sm-3">
		    	<input class="form-control" placeholder="数量">	
		    </div>
		  </div>

		  
		    <button class="btn btn-primary">提交</button>
		</form>


		<div class="row">
			<h3>缺书订单</h3>
			<table class="table table-hover">
		      <thead>
		        <tr>
		          <th>书号</th>
		          <th>书名</th>
		          <th>作者</th>
		          <th>出版社</th>
		          <th>价格</th>
		          <th>数量</th>
		        </tr>
		      </thead>
		      <tbody ms-controller="form-box">
		        <tr ms-repeat="book_data">
		          <td>{{el.ISBN}}</td>
		          <td>{{el.bookname}}</td>
		          <td>{{el.Author}}</td>
		          <td>{{el.Publisher}}</td>
		          <td>{{el.value}}</td>
		          <td>{{el.number}}</td>
		        </tr>
		      </tbody>
		    </table>
		</div>
	</div>


	<!-- model -->
	<!--signin-->
	<div class="modal fade" id="signin" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      	<div class="modal-body form-horizontal">
	      		<div class="form-group">
	      			<label class="col-sm-2 control-label">账户名</label>
	      			<div class="col-sm-5">
	      				<input class="username form-control" type="text">
	      			</div>
	      		</div>
	      		<div class="form-group">
	      			<label class="col-sm-2 control-label">密码</label>
	      			<div class="col-sm-5">
	      				<input class="password form-control" type="text">	
	      			</div>
	      		</div>
		      	<div class="form-group">
		      		<div class="col-sm-offset-2 col-sm-10">
		      			<button type="button" class="btn btn-primary">确定</button>
		      			<button type="button" class="btn btn-default backup" data-dismiss="modal">放弃</button>
		      		</div>
		      	</div>
    		</div>
	    </div>
	  </div>
	</div>

	<!--login-->
	<div class="modal fade" id="login" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      	<div class="modal-body form-horizontal">
	      		<div class="form-group">
	      			<label class="col-sm-2 control-label">账户名</label>
	      			<div class="col-sm-5">
	      				<input class="username form-control" type="text">
	      			</div>
	      		</div>
	      		<div class="form-group">
	      			<label class="col-sm-2 control-label">密码</label>
	      			<div class="col-sm-5">
	      				<input class="password form-control" type="text">	
	      			</div>
	      		</div>
		      	
		      	<div class="form-group">
		      		<div class="col-sm-offset-2 col-sm-10">
		      			<button type="button" class="btn btn-primary">确定</button>
		      			<button type="button" class="btn btn-default backup" data-dismiss="modal">放弃</button>
		      		</div>
		      	</div>
    		</div>
	    </div>
	  </div>
	</div>

	<!-- Bootstrap core JavaScript
    ================================================== -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script src="./js/bootstrap.min.js"></script>


</body>
</html>